language: php

sudo: false

php:
  - 5.3
  - 5.4
  - 5.5
  - 5.6
  - hhvm

env:
  global:
    - SYMFONY_VERSION=2.6.*

matrix:
    include:
        - php: 5.6
          env: SYMFONY_VERSION=2.3.*
        - php: 5.6
          env: SYMFONY_VERSION=2.4.*
        - php: 5.6
          env: SYMFONY_VERSION=2.5.*
        - php: 5.6
          env: SYMFONY_VERSION=2.7.*
        - php: 5.6
          env: SYMFONY_VERSION=dev-master
    fast_finish: true
    allow_failures:
        - env: SYMFONY_VERSION=2.7.*
        - env: SYMFONY_VERSION=dev-master

before_script:
    - composer self-update
    - composer require symfony/symfony:${SYMFONY_VERSION} --no-update
    - composer update --dev

script: phpunit --coverage-text

notifications:
  email:
    - open-source@theodo.fr
